* text=auto eol=lf

*.bmp binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ttf binary

*.mat binary
*.npy binary
*.npz binary
*.xlsx binary
*.xls binary
*.slx binary
*.rar binary
*.zip binary
